@charset "UTF-8";
body,
html {
  height: 100vh;
}

body {
  font-family: "Suranna", sans-serif;
  color: #22222b;
}

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main {
  background-image: url("../../../../assets/img/menubackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*Центрирование по горизонтали*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Центрирование по вертикали */
  height: 100vh;
}

.title-h1--white {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h1--dark {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}

.title-h2--white {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h2--dark {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}

.before-title--white {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fff;
}

.before-title--dark {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #22222b;
}

.before-title--gold {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fcda9a;
}

.after-title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}

.icon {
  display: block;
  width: 44px;
  height: 37px;
  margin: 0 auto;
}

.about-section {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url("../../../../assets/img/download.jpg");
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-image__rightside, .about-image__leftside {
  margin-top: 100px;
}

.about-story {
  background-image: url("../../../../assets/img/bg-about.png");
  padding-left: 30px;
  padding-right: 30px;
  border: 6px solid #22222b;
}

.about-story__text {
  font-size: 22px;
  line-height: 1.8;
  text-align: center;
}

.banner-section {
  padding-top: 230px;
  padding-bottom: 260px;
  background-image: url("../../../../assets/img/bkg-img3.jpg");
}

.reservations-section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.reservations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservations-image__rightside, .reservations-image__leftside {
  margin: 50px;
}

.reservations-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
}

.reservations-form__form .form__input {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 17px 25px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservations-form__form .form__input:focus {
  outline: none;
  border-bottom: 1px solid #22222b;
}

.reservations-form__form .btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  border: none;
}
/*# sourceMappingURL=home.component.css.map */