<section class="about-section">
  <div class="wrapper">
    <div class="about">
      <div class="about-image__rightside">
        <img src="assets/img/spices-left.png" alt="spicesleft">
      </div>

      <div class="about-story">
        <p class="before-title  text-center">Our story</p>
        <h1 class="title-h1">Love for food</h1>
        <p class="about-story__text">Welcome. This is Royal plate. Elegant & sophisticated restaurant template. Royal plate offers different home page layouts with smart and unique design, showcasing beautifully designed elements every restaurant website should have. Smooth animations, fast loading and engaging user experience are just some of the features this template offers.
          So, give it a try and dive into a world of royal restaurant websites.</p>
      </div>

      <div class="about-image__leftside">
        <img src="assets/img/spices-right.png" alt="spicesright">
      </div>
    </div>
  </div>
</section>

<section class="banner-section">
  <div class="wrapper">
    <div class="banner">
      <p class="before-title  text-center">Exquisite cuisine</p>
      <h1 class="title-h1">A FEAST FOR YOUR SENSES</h1>
    </div>
  </div>

</section>

<section class="reservations-section">
  <div class="wrapper">
    <div class="reservations">
      <div class="reservations-image__rightside">
        <img src="assets/img/img-02.jpg" alt="spicesleft">
      </div>

      <div class="reservations-form">
        <p class="before-title  text-center">Reservations</p>
        <h1 class="title-h1">Sign In to book your table</h1>
        <form class="reservations-form__form" id="reservations-form__form">

          <input class="form__input" type="text" placeholder="Your Email">
          <input class="form__input" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign In</button>
        </form>
        <a id="nothaveacc"  role="button"><span >Don't have an account? Sign Up!</span></a>

      </div>

      <div class="reservations-image__leftside">
        <img src="assets/img/img-03.jpg" alt="spicesright">
      </div>
    </div>
  </div>
</section>
