<section class="main">
  <div class="wrapper">
      <div class="main__content">
          <p class="before-title--dark  text-center">Make Reservation</p>
          <h1 class="title-h1--dark mb-5">Royal Plate</h1>
          <img class="icon" src="assets/img/icon.png" alt="icon" >

      </div>
  </div>
</section>
<section class="visitus-section">
  <div class="wrapper">
    <p class="text-center before-title--dark">Visit us</p>
    <h2 class="title-h2--dark">OUR LOCATIONS</h2>
    <div class="restaurant">
      <div class="restaurant-item">
        <h2 class="title-h2">LONDON CENTER</h2>
        <p class="restaurant-item__text">
          Royal Plate Indoors, <br>
          22nd Sunrise street,<br>
          Royal Club Avenue,
          London, UK
        </p>
        <p class="after-title">Opening hours</p>
        <p class="after-title">Monday - Friday: 8:00 A.M. - 22:00 P.M.</p>
        <p class="after-title">Weekends: 10:00 A.M. - 23:00 P.M.</p>

        <p class="after-title">Contact</p>
        <p class="after-title">+00 42 587 9685</p>
        <p class="after-title">info@royal-plate.com</p>

        <a class="restaurant-item__link" href="#">GET DIRECTIONS</a>

      </div>
      <div class="restaurant-item">
        <h2 class="title-h2">LONDON WEST</h2>
        <p class="restaurant-item__text">
          Royal Plate Indoors, <br>
          22nd Sunrise street,<br>
          Royal Club Avenue,
          London, UK
        </p>
        <p class="after-title">Opening hours</p>
        <p class="after-title">Monday - Friday: 8:00 A.M. - 22:00 P.M.</p>
        <p class="after-title">Weekends: 10:00 A.M. - 23:00 P.M.</p>

        <p class="after-title">Contact</p>
        <p class="after-title">+00 42 587 9685</p>
        <p class="after-title">info@royal-plate.com</p>

        <a class="restaurant-item__link" href="#">GET DIRECTIONS</a>
      </div>
      <div class="restaurant-item">
        <h2 class="title-h2">LONDON EAST</h2>
        <p class="restaurant-item__text">
          Royal Plate Indoors, <br>
          22nd Sunrise street,<br>
          Royal Club Avenue,
          London, UK
        </p>
        <p class="after-title">Opening hours</p>
        <p class="after-title">Monday - Friday: 8:00 A.M. - 22:00 P.M.</p>
        <p class="after-title">Weekends: 10:00 A.M. - 23:00 P.M.</p>

        <p class="after-title">Contact</p>
        <p class="after-title">+00 42 587 9685</p>
        <p class="after-title">info@royal-plate.com</p>

        <a class="restaurant-item__link" href="#">GET DIRECTIONS</a>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="row p-5 bg-dark">
    <div class="col d-flex justify-content-center">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-dark text-light" id="dropdownBasic1" ngbDropdownToggle>
          {{chosenRestaurant===null ?
          "Choose your restaurant":chosenRestaurant.name + ', ' + chosenRestaurant.address}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <span *ngIf="isEmpty">
            <button ngbDropdownItem>
              "Sorry, this feature is currently unavailable"
            </button>
          </span>
          <span *ngIf="!isEmpty">
            <button *ngFor="let restaurant of restaurantsList" ngbDropdownItem (click)="setRestaurant(restaurant.id)">
              {{restaurant.name}}
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="reserv-section">
  <div class="wrapper">
    <p class="text-center before-title--dark">Reservation</p>
    <h2 class="title-h2--dark">BOOK YOUR TABLE</h2>
    <form action="" class="form-reserv">
      <input type="text" name="name" [(ngModel)]="reservation.name" placeholder="Your name" required>
      <input type="email" name="email" [(ngModel)]="reservation.email" placeholder="Your email" required>
      <div class="d-flex justify-content-center">
        <label>From: <input type="datetime-local" name="datetime-local" [(ngModel)]="reservation.reservedFrom" placeholder="00:00am"></label>
      </div>
      <div class="d-flex justify-content-center">
        <label>To: <input type="datetime-local" name="datetime-local" [(ngModel)]="reservation.reservedTo" placeholder="00:00am"></label>
      </div>
    </form>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <input class="w-25" type="number" min="0" [(ngModel)]="numberOfSeats" placeholder="Number of seats needed">
      </div>
    </div>
    <div class="container">
      <div class="col-md-12 text-center mt-4">
        <button type="button" class="btn bg-dark text-light" (click)="makeReservation()">Make reservation</button>
      </div>
    </div>
  </div>
</section>
