.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main {
  background-image: url("../../../../assets/img/menubackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  font-size: 26px;
  font-weight: 500;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.title-h1--white {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h1--dark {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}

.title-h2--white {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h2--dark {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}
.before-title--white {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fff;
}
.before-title--dark {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #22222b;
}

.before-title--gold {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fcda9a;
}

.after-title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}

.icon {
  display: block;
  width: 44px;
  height: 37px;
  margin: 0 auto;
}

.menu-section {
  font-family: "Suranna", sans-serif;

  padding-top: 100px;
  padding-bottom: 120px;
}

.menu {
  margin: 0;
  border: 1px solid #22222b;
  box-shadow: 3px 3px 1px #22222b;
}

.menu-item__blank {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #fcda9a;
  margin-left: 40px;
  margin-right: 40px;
}

.menu-item__name {
  font-size: 30px;
}
.menu-item__price {
  font-size: 24px;
}
