.text-center {
  text-align: center;
}

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.title-h1 {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
}

.before-title {
  font-size: 40px;
  font-family: "Montez";
  font-weight: 400;
  color: #22222b;
}

.icon {
  display: block;
  width: 44px;
  height: 37px;
  margin: 0 auto;
}

.after-title__opening {
  font-size: 26px;
}

.after-title__hours {
  font-size: 18px;
}

.menu-section {
  font-family: "Suranna", sans-serif;

  padding-top: 100px;
  padding-bottom: 120px;
}

.menu {
  margin: 0;
  border: 2px solid #22222b;
  box-shadow: 3px 3px 1px #22222b;
}

.menu-item__blank {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #fcda9a;
  margin-left: 40px;
  margin-right: 40px;
}

.menu-item__name {
  font-size: 30px;
}
.menu-item__price {
  font-size: 24px;
}
