<section class="main">
    <div class="wrapper">
        <div class="main__content">
            <p class="before-title--white  text-center">Menu</p>
            <h1 class="title-h1--white mb-5">Royal Plate</h1>
            <img class="icon" src="assets/img/icon.png" alt="icon" >

        </div>
    </div>
</section>
<section class="menu-section">
    <div class="wrapper">
        <p class="before-title--dark text-center">POPULAR MENU</p>
        <h2 class="title-h1--dark">Popular Dishes</h2>
        <div class="menu mt-5">
            <div class="menu-item__blank">
                <div class="menu-item">
                    <div class="menu-item__left">
                        <p class="menu-item__name">Wild Mushroom Bucatini with Kale</p>
                        <p class="menu-item__description">Mushroom / Veggie / White Sources</p>
                    </div>
                </div>
                <div class="menu-item__price">
                    <span>&#36;16</span>
                </div>
            </div>
            <div class="menu-item__blank">
                <div class="menu-item">
                    <div class="menu-item__left">
                        <p class="menu-item__name">Wild Mushroom Bucatini with Kale</p>
                        <p class="menu-item__description">Mushroom / Veggie / White Sources</p>
                    </div>
                </div>
                <div class="menu-item__price">
                    <span>&#36;16</span>
                </div>
            </div>
            <div class="menu-item__blank">
                <div class="menu-item">
                    <div class="menu-item__left">
                        <p class="menu-item__name">Wild Mushroom Bucatini with Kale</p>
                        <p class="menu-item__description">Mushroom / Veggie / White Sources</p>
                    </div>
                </div>
                <div class="menu-item__price">
                    <span>&#36;16</span>
                </div>
            </div>
            <div class="menu-item__blank">
                <div class="menu-item">
                    <div class="menu-item__left">
                        <p class="menu-item__name">Wild Mushroom Bucatini with Kale</p>
                        <p class="menu-item__description">Mushroom / Veggie / White Sources</p>
                    </div>
                </div>
                <div class="menu-item__price">
                    <span>&#36;16</span>
                </div>
            </div>
            <div class="menu-item__blank">
                <div class="menu-item">
                    <div class="menu-item__left">
                        <p class="menu-item__name">Wild Mushroom Bucatini with Kale</p>
                        <p class="menu-item__description">Mushroom / Veggie / White Sources</p>
                    </div>
                </div>
                <div class="menu-item__price">
                    <span>&#36;16</span>
                </div>
            </div>
            
        </div>
    </div>
</section>