.text-center {
  text-align: center;
}

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main {
  background-image: url("../../../../assets/img/bkgreserv.jpg");
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  height: 100vh;
}

.title-h1--white {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h1--dark {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}

.title-h2--white {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #fff;
}

.title-h2--dark {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  line-height: 0.2;
  color: #22222b;
}
.before-title--white {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fff;
}
.before-title--dark {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #22222b;
}

.before-title--gold {
  font-size: 60px;
  font-family: "Montez";
  font-weight: 400;
  color: #fcda9a;
}

.after-title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}
.icon {
  display: block;
  width: 44px;
  height: 37px;
  margin: 0 auto;
}

.section-respers {
  font-family: "Suranna", sans-serif;

  padding-top: 100px;
  padding-bottom: 120px;
}
.table__ {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

th {
  font-weight: normal;
  color: #22222b;
}

td {
  border-bottom: 1px solid #ccc;
  color: #22222b;
  padding: 12px 8px;
  transition: 0.3s linear;
}
.table-sortable th:not([data-sortable="false"]) {
  cursor: pointer;
}

.table-sortable th:not([data-sortable="false"])::after {
  content: " " attr(data-sort-direction);
}

.table-sortable th[data-sortable="false"] {
  background-color: lightcoral;
}
