<section class="section-respers">
    <div class="wrapper">
      <div class="table__">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">ID столика</th>
              <th class="text-center">Ім'я (на кого замовлено)</th>
              <th class="text-center">Пошта (на кого замовлено)</th>
              <th class="text-center">Зарезервовано від (час)</th>
              <th class="text-center">Зарезервовано до (час)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">123</td>
              <td class="text-center">ZHAN</td>
              <td class="text-center">ZHEAN@GMAIL.COM</td>
              <td class="text-center">12:00</td>
              <td class="text-center">15:00</td>
            </tr>
            </tbody>
            </table>
          
      </div>
      
    </div>
</section>
