<section class="main">
  <div class="wrapper">
      <div class="main__content">
          <p class="before-title--white  text-center">Reservations</p>
          <h1 class="title-h1--white mb-5">Royal Plate</h1>
          <img class="icon" src="assets/img/icon.png" alt="icon" >

      </div>
  </div>
</section>
<section class="section-respers">
    <div class="wrapper">
      <div class="table__">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">ID столика</th>
              <th class="text-center">Ім'я (на кого замовлено)</th>
              <th class="text-center">Пошта (на кого замовлено)</th>
              <th class="text-center">Зарезервовано від (час)</th>
              <th class="text-center">Зарезервовано до (час)</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(!isLoading && !isEmpty) ; else (isLoading ? loading : empty)">
              <tr *ngFor="let item of reservationsList;">
                <td class="text-center">{{item.id}}</td>
                <td class="text-center">{{item.tableId}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.email}}</td>
                <td class="text-center">{{item.reservedFrom}}</td>
                <td class="text-center">{{item.reservedTo}}</td>
              </tr>
            </ng-container>
            </tbody>
            </table>
      </div>

    </div>
</section>


<ng-template #empty>
  <p>The list is empty</p>
</ng-template>

<ng-template #loading>
  <div class="card-body text-center">
    <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
  </div>
</ng-template>
